 .header {
	 text-align: center;
	 font-size: 1.5rem;
	 margin-bottom: 1rem;
}

.songNr {
	text-align: center;
	font-size: 0.8rem;
}

.green {
	color: green;
}

.orange {
	color: orange;
}

.small {
	height: 4px;
}

.sheetUrl {
	font-style: italic;
	font-size: smaller;
	float: right;
}

.soundUrl {
	font-style: italic;
	font-size: smaller;
	float: right;
}

.otherUrl a, .adminUrl a, .noUnderline {
	text-decoration: none;
}

.adminUrl, .otherUrl, .italics {
	font-style: italic;
}

.localSound {
	font-style: italic;
	font-size: smaller;
	float: right;
	white-space: nowrap;
}

.noBreak {
	white-space: nowrap;
}

.instructions {
	font-size: smaller;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.d-flex.flex-column {
  align-items: flex-end;
}

.verticalSpace {
  padding: 3rem;
  border: 1px solid;
  margin-right: 3rem;
  border-radius: 10px;
  box-shadow: 5px 2px #888888;
}

.noHeight  {
	font-size: smaller;
	padding-left: 1rem;
	color: darkgreen;
	height: 0;
}

h1 {
	margin-bottom: 0;
}
